:root {
    --primary-color: rgba(8, 24, 243, 0.575);
    --secondary-color: rgba(182, 7, 173, 0.637);
    --tertiary-color: #ffffff;
}

body {
    color: var(--tertiary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* HEADER / NAV */

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    background-color: var(--tertiary-color);
    padding: 10px 30px 10px 10px;
    top: 0;
    background-image: url(./images/the_thick_forest-wallpaper.png);
    background-size: cover;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: rgba(0, 183, 255, 0.658);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* HEADER / NAV STYLES END */

/* FOOTER STYLES */

footer h2 {
    background: var(--primary-color);
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    font-size: 100%;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}

/* FOOTER STYLES END */

/* HERO STYLES TAGS */

.hero {
    background-image: url(./images/the_thick_forest-wallpaper.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    padding: 15%;
}

.hero-intro {
    padding: 5%;
    width: 100%;
    text-align: center;
    margin: 3.5%;
    color: #fff;
    font-size: 30px;
    line-height: 1.57;
}

.hero-intro h1 {
    font-style: italic;
    font-size: 55px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

/* HERO STYLES END */

/* ABOUT SECTION START */

.flex-row h2 {
    font-style: italic;
    font-size: 55px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 5%;
}

.intro p, .flex-row p {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align:center;
}

/* ABOUT SECTION END */

.background {
    background-image: url(./images/snow-forest-wallpaper.jpg);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
      header nav ul li a {
        font-size: 20px;
      }
    
      footer h2 {
        text-align: center;
        width: 100%;
      }

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 575px){
    .intro p {
        width: 100%;
      }
}

.contact {
    text-align: center;
  }

  .contact > * {
    flex: 0 100%;
  }